:root {
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #171717;
}

h2 {
    font-size: 40px;
    color: #F6D4D4;
}

p {
    font-size: 18px;
}

body {
    background: white;
    padding: 0;
    margin: 0;
    height: 500vh;
}

header {
    position: fixed;
    top: 0;
    padding-top: 32px;
    padding-bottom: 128px;
    width: 100%;
    background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 61.98%, rgba(255, 255, 255, 0) 100%);
    z-index: 10;
    opacity: 0;
    transition: 0.5s;
}

.slide-in {
    transition: 0.5s;
    opacity: 0;
    transform: translateY(64px);
}

.visible {
    transition: 1s;
    opacity: 1;
    transform: translateY(0);
}

header>ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

header>ul>li {
    margin: 0 32px;
}

header>ul>li>a {

    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    color: #000000;
}

footer {
    height: 5vh;
    background-color: #FFFFFF;
    width: 100%;
}

canvas {
    position: fixed;
    left: 60vw;
    top: 30vh;
    max-width: 30vw;
    background-color: white;
    z-index: -1;
}

#site {
    display: flex;
    width: 100%;
    margin-top: 125vh;
}

main {
    width: 100%;
}

section {
    width: 100%;
    padding: 64px;
    box-sizing: border-box;
}

.filler {
    height: 0vh;
}

#projects {
    border-color: #F29325;
}

#aboutme {
    border-color: #D94F04;
}

#aboutme>article {
    padding: 2% 0;
    width: 40%;
}

#aboutme>article>h2,
#aboutme>article>p {

    margin: 24px 0;
}

#nav {
    border-color: transparent;
}


#top {
    position: absolute;
    top: 0;
}

.btn {
    cursor: pointer;
}

@media screen and (max-width: 1600px) {
    canvas {
        max-width: 40vw;
    }
}